/**
 * Text Content
 */

// blockquote {}
// dd {}
// div {}
// dl {}
// dt {}
// figcaption {}
// figure {}
// hr {}
// li {}
// main {}
// ol {}
p {
  font-family: $font-body;
  line-height: 1.33;
  margin-bottom: 1rem;
}
// pre {}
// ul {}
