// Author box styles
.author-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.author-box__avatar {
  @include size( 160px );
  border-radius: 50%;
  padding: 1rem;
}

.author-box__icon {
  fill: $white;
  margin: .5rem .25rem;
  transition: fill 300ms ease;
  width: 36px;

  &:hover {
    fill: $gold;
  }
}

.author-box__name {
  font-family: $font-body;
  font-size: 25px;
}

.author-box__social {
  margin: .5rem auto 1rem;
}
