// Connect media component

.connect-body {
  color: $white;
  padding: 2rem 1rem;

  #Layer_5 .cls-1 {
    fill: #b4905b;
  }

  #Layer_5 .cls-2 {
    fill: #f1e8c0;
  }

  #Layer_5 .cls-3 {
    fill: #4b4945;
  }

  @media( min-width: 960px ) {
    padding: 2rem;
  }
}

.connect-body__bottom-border {
  position: absolute;
  top: -34vw;
  width: 100%;
}

.connect-body__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -.25rem;
  position: relative;
  width: 100%;

  @media( min-width: 960px ) {
    flex-direction: row;
  }
}

.connect-body__corner {
  @include size( 5.625rem );
  transform: rotate(0deg) scale(1.175);

  &.connect-body__corner--bottom-left {
    transform: rotate(270deg) scale(1.175);
  }

  &.connect-body__corner--bottom-right {
    transform: rotate(180deg) scale(1.175);
  }

  &.connect-body__corner--top-right {
    transform: rotate(90deg) scale(1.175);
  }
}

.connect-body__cross {
  @include size( 2.25rem );
  margin: .18rem 0 auto;

  &.connect-body__cross--bottom {
    margin: auto 0 .18rem;
  }
}

.connect-body__description {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 2rem;
  padding: .5rem 1rem;
  text-align: justify;
}

.connect-body__description--social {
  margin: 0;
  padding: 0;
}

.connect-body__desktop-logo {
  margin: 0 0 -1rem;
  width: calc( 100% - 5.35rem);
}

.connect-body__footer {
  margin: 0 auto 2rem;
  padding: 0 .25rem;
  pointer-events: none;
  position: relative;
  width: 100%;
}

.connect-body__footer--desktop {
  display: none;
  padding: 0;

  @media( min-width: 960px ) {
    display: flex;
  }
}

.connect-body__footer--mobile {
  display: flex;
  height: 36vw;
  margin: 2rem auto 0;
  width: calc( 100% - 2rem );

  @media( min-width: 960px ) {
    display: none;
  }
}

.connect-body__heading {
  letter-spacing: .1rem;
  font-family: $font-body;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0 1rem;
  text-align: center;
}

.connect-body__heading--social {
  font-weight: 400;
  letter-spacing: unset;
  text-align: left;
}

.connect-body__left {
  padding: 0 9vw 0 11vw;
  width: 100%;

  @media( min-width: 960px ) {
    padding: 0 4rem 0 2rem;
    width: calc( 50% - 2.25rem );
  }
}

.connect-body__left-edge {
  display: none;
  flex-direction: column;
  margin: 0 0 -4rem;
  width: 2.25rem;

  @media( min-width: 960px ) {
    display: flex;
  }
}

.connect-body__icon {
  fill: $white;
  width: 2.4rem;
}

.connect-body__icon--advertising {
  fill: unset;
  max-width: 32rem;
  width: 100%;

  path {
    clip-path: unset;
  }

  .cls-1 {
    fill: #00313f;
  }

  .cls-2 {
    fill: #b4905b;
  }
}

.connect-body__icon--paypal {
  height: auto;
  width: 8rem;

  .cls-6,
  .cls-7,
  .cls-8 {
    clip-path: unset;
    fill: #179BD7;
  }

  .cls-8 {
    fill: #79C1D8;
  }
}

.connect-body__key-1 {
  fill: $gold;
  margin: 0 auto 0 7.5rem;
  width: 12rem;
}

.connect-body__key-2 {
  fill: $gold;
  width: 24rem;
}

.connect-body__label {
  color: $white;
  font-family: $font-body;
  font-size: 1.25rem;
  margin-left: .6rem;
}

.connect-body__link {
  align-items: center;
  background-color: $blue-dark;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: background-color 300ms ease;
  padding: 1rem 2.4rem;

  &:hover {
    background-color: $gold;
  }
}

.connect-body__link--advertising {
  background-color: $clear-black;
  cursor: pointer;
  max-width: 32rem;
  padding: 0;
  width: 100%;

  &:hover {
    background-color: $clear-black;
  }
}

.connect-body__link--paypal {
  padding: .5rem 2rem;
}

.connect-body__link--social {
  margin: 1rem 2rem;
  padding: .6rem;
}

.connect-body__masthead {
  margin: 0 auto;
  padding: 0 .25rem;
  position: relative;
  width: 100%;
}

.connect-body__masthead--desktop {
  display: none;
  flex-wrap: wrap;
  padding: 0;

  @media( min-width: 960px ) {
    display: flex;
  }
}

.connect-body__masthead--mobile {
  display: flex;
  height: 36vw;
  margin: 0 auto -2.5rem 0;
  width: 100%;

  @media( min-width: 960px ) {
    display: none;
  }
}

.connect-body__masthead-lower {
  margin-top: -4rem;
  position: relative;
  width: 100%;
}

.connect-body__masthead-top {
  display: flex;
  width: 100%;
}

.connect-body__middle {
  display: none;
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d( -50%, -50%, 0% );

  @media( min-width: 960px ) {
    display: flex;
    flex-direction: column;
  }
}

.connect-body__middle-spacer {
  height: 90%;
  margin: .5rem auto;
  width: 1rem;
}

.connect-body__menu-logo {
  margin: -21.5vw 10% 0;
  position: absolute;
  width: 80%;
}

.connect-body__network {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
  width: 100%;
}

.connect-body__product-image {
  width: 100%;
}

.connect-body__product-link {
  margin: .5rem;
  max-width: 240px;
  width: calc( 50% - 1rem );
}

.connect-body__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.connect-body__right {
  padding: 0 2rem;
  width: 100%;

  @media( min-width: 960px ) {
    padding: 0 2rem 0 4rem;
    width: calc( 50% - 2.25rem );
  }
}

.connect-body__right-edge {
  display: none;
  flex-direction: column;
  margin: 0 .4rem -4rem auto;
  width: 2.25rem;

  @media( min-width: 960px ) {
    display: flex;
  }
}

.connect-body__section {
  border-bottom: 2px solid $gold;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  width: 100%;
}

.connect-body__section--advertising {
  border-bottom: none;
  margin: 0 0 -12vw;

  @media( min-width: 960px) {
    margin: 0;
  }
}

.connect-body__section--merchandise {

  @media( min-width: 960px ) {
    margin: 0 0 2rem 2rem;
  }
}

.connect-body__section--social {
  
  @media( min-width: 960px ) {
    border-bottom: none;
  }
}

.connect-body__social-networks {
  display: flex;
  flex-direction: column;
}

.connect-body__spacer-horizontal {
  height: 2.25rem;
  width: calc( 50% - 6.75rem );

  &.connect-body__spacer-horizontal--bottom {
    margin-top: 3rem;
  }
}

.connect-body__spacer-vertical {
  height: calc( 100% - 4rem );
  width: 2.25rem;
}

.connect-body__subhead {
  font-family: $font-body;
  font-size: .8rem;
  padding: 0 1rem 1rem;
  text-align: center;
}

.connect-body__top-border {
  position: absolute;
  top: -30vw;
  transform: rotate(180deg);
  width: 100%;
}
